* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/sfondo.jpg");
}

.container {
  margin: 5% 20%;
  text-align: center;
  background: white;
}

header {
  background: yellow;
}

h1 {

}

h3 {

}

main {
  background: orange;
}

main:after {
content: "";
display: table;
clear: both;
}

.sinistra {
  display: inline-block;
  float: left;
  width: 20%;
  background: red;
}

.centro {
  display: inline-block;
  width: 45%;
  background: blue;
}

.destra {
  float: right;
  width: 20%;
  background: pink;
}

footer {
  background: brown;
}
